body {
    background-image: url(./gradient-minimalist-background_23-2149976755\ \(1\).jpg);
    background-size: cover;
}

.test {

    height: 350px;
    width: 300px;
    background-color: hsla(0, 17%, 15%, 0.075);
    box-shadow: 0 0 30px rgb(12, 10, 10);
    padding: 20px 30px 50px;
    margin: 120px auto 15px;
    border-radius: 15px;
}

h1 {
    text-align: center;
    color: whitesmoke;
}

input {
    width: 95%;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

h4 {
    text-align: center;
    color: white;
}